footer.footer
  .container
    .footer__wrapper
      .footer__logo
        a.logo-brand(href="index.html" aria-label="Home")
          img(src="img/logo-brand.png", alt="Logo")

      .footer__group
        .footer__item 
          h4.title Kontakt
          ul.footer__contacts 
            li 
              | Order: 
              a(href="tel:+08-754 48 68") 08-754 48 68
            li: a(href="mailto:info@leosoderberg.se") info@leosoderberg.se
            li: a(href="mailto:order@leosoderberg.se")  order@leosoderberg.se

        ul.footer__sub 
          li
            a(href="https://facebook.com" aria-label="Facebook")
              img(src="img/icon-fb.svg", alt="Facebook")
              | Facebook 
          //- li
          //-   a(href="#" aria-label="LinkedIn")
          //-     img(src="img/icon-in.svg", alt="Linkedin")
          //-     | Linkedin




