head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Byggsäckar, containrar, trädgård, kranbilar » Leo Söderberg Entreprenad
    meta(name='keywords' content='Byggsäckar, containrar, trädgård, kranbilar » Leo Söderberg Entreprenad')
    meta(name='description' content='Containrar Vi har ett stort sortiment av olika typer av containerflak både för liftdumpers och lastväxlare, både öppna och stängda samt låsbara för att passa er')

    meta(property='og:title' content='Byggsäckar, containrar, trädgård, kranbilar » Leo Söderberg Entreprenad')
    meta(property='og:description' content='Containrar Vi har ett stort sortiment av olika typer av containerflak både för liftdumpers och lastväxlare, både öppna och stängda samt låsbara för att passa er')
    meta(property='og:image' content='http://www.leosoderberg.se/img/og-image.jpg')
    meta(property='og:image:width' content='955')
    meta(property='og:image:height' content='556')
    meta(property='og:url' content='http://www.leosoderberg.se')
    meta(property='og:type' content='website')
    meta(property='og:locale' content='sv_SE')

    meta(name='robots' content='noindex')

    link(rel='icon' href='img/favicon-150.png' type='image/png')
    link(rel='shortcut icon' href='img/favicon-150.png' type='image/x-icon')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Roboto:ital,wght@0,500;1,500&display=swap' rel='stylesheet')


    link(rel='stylesheet' href='css/main.css')


